<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Feedback</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #quizForm {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 15px;
            padding: 1% 3%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        }
        .correct-answer{
            color: green;
        }
        .correct-choice{
            color: rgb(0, 41, 128);
            margin: 0px 7px;
        }
        .incorrect-choice{
            color: red;
            margin: 0px 7px;
        }
        h4{
            margin: 0% 10%;
            margin-bottom: 2%;
            color: chocolate;
        }
    </style>
</head>
<body>
    <h1>Quiz Feedback -
    <% if (score >= 0) { %>
        Your Score: (<%= score %> / <%= quizData.length %>)
    </h1>
    <h4>Instructions : Each question carries one mark. There is no negative marking for wrong answers. Zero marks will be awarded for incorrect answers and for questions that are not attempted.</h4>
    <% } else { %>
        <p>Unable to calculate score. Please try again later.</p>
    <% } %>

    <!-- Render the quiz form with selected options -->
    <!-- <h2>Quiz Form with Selected Options:</h2> -->
    <form id="quizForm">
        <% quizData.forEach(question => { %>
            <div>
                <p><strong>Question <%= question.id %>:</strong> <%= question.question %></p>
                <ul>
                    <% question.choices.forEach(choice => { %>
                        <li>
                            <label class="">
                                <input type="radio" 
                                name="<%= question.id %>" 
                                value="<%= choice %>" 
                                <%= (userAnswers[question.id] === choice) ? 'checked' : 'disabled' %> >
                                <!-- <input type="radio" name="<%= question.id %>" value="<%= choice %>" <% if (userAnswers[question.id] === choice) { %>checked<% } %><% if (userAnswers[question.id] != choice) { %>disabled<% } %>> -->
                                <%= choice %> <% if (userAnswers[question.id] === choice) { %><% } %>
                            </label>
                            <% if (userAnswers[question.id] === choice && question.answer === choice) { %>
                                <span class="correct-choice">(Your Answer - &#10003; 1 mark) </span>
                            <% } else if (userAnswers[question.id] === choice && question.answer !== choice) { %>
                                <span class="incorrect-choice">(Your Answer - &times; 0 marks) </span>
                            <% } %>
                        </li>
                    <% }); %>
                </ul>
                <p class="correct-answer"><strong class="">Correct Answer:</strong> <%= question.answer %></p>
            </div>
        <% }); %>
    </form>
</body>
</html>
